<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
  <form th:action="@{/register}" th:object="${user}" method="post">
    <h3>Registration</h3>
    <input type="text" th:field="*{firstName}" placeholder="First Name" /> <br/><br/>
    <input type="text" th:field="*{lastName}" placeholder="Last Name" /> <br/><br/>
    <input type="text" th:field="*{mobile}" placeholder="Mobile Number" /> <br/><br/>
    <input type="text" th:field="*{email}" placeholder="Email" /> <br/><br/>
    <input type="password" th:field="*{password}" placeholder="Password" /> <br/><br/>
    <!-- Role <select th:field="*{role}">
      <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}" />
    </select><br/><br/> -->
    Roles
    <th:block th:each="role : ${allRoles}">
      <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
      <label th:for="${#ids.prev('roles')}" th:text="${role.name}" />
    </th:block>

    <!-- https://www.baeldung.com/thymeleaf-list -->
    <!-- https://www.codejava.net/frameworks/spring-boot/spring-thymeleaf-form-multi-checkboxes-mapping-with-collection-example -->
    
    <!-- <select multiple size="4" th:field="*{roles}" required>
      <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}" />
    </select> -->

    <!-- <ul>
      <li th:each="role : ${allRoles}">
          <div>
              <input type="checkbox" th:field="*{roles}" th:value="${role.id}">
              <label th:for="${#ids.prev('roles')}" th:text="${role.name}"></label>
          </div>
      </li>
    </ul> -->

    <br/><br/>
    <button type="submit">Register</button> | <a th:href="@{|/permission|}" th:text="'Permission'"></a> | <a th:href="@{|/login|}" th:text="'Log in'"></a>
    <span th:utext="${successMessage}"></span>
    <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
      <ul th:each="data : ${bindingResult.getAllErrors()}">
        <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
      </ul>
    </div>
</form>
</body>
</html>